@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    color: white;
    font-family: 'Montserrat';
}

body {
    background-color: rgb(25, 23, 25);
}

#topbar {
    background-color: rgb(38, 33, 38);
    padding: 8px 10px;
    display: block;
    text-align: center;
}

#topbar a {
    margin: 3px;
    text-decoration: none;
    color: white;
}

#topbar a:hover {
    color: orange;
}

#topbar a:active {
    color: orange;
}

#menubar {
    height: 100%;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#sequence {
    background-color: rgb(21, 20, 21);
    border-style: solid;
    border-color: white;
    padding: 10px;
    border-radius: 1%;
}

#stats {
    background-color: rgb(21, 20, 21);
    border-style: solid;
    border-color: white;
    color: white;
    padding: 10px;
    border-radius: 1%;
    visibility: hidden;
}

#test-title-word1 {
    color: orange;
    display: inline;
}

#test-title-word2 {
    color: white;
    display: inline;
}

h2 {
    text-align: center;
}

a {
    color: orange;
}

#settings-main {
    background-color: rgb(21, 20, 21);
    color: white;
    padding: 10px;
    border-radius: 1%;
}

button {
    background-color: rgb(16, 15, 16);
    margin: 1px;
    padding: 10px;
    cursor: pointer;
    border-style: none;
}